stages:
  - Build
  - Smoke Tests
  - Unit Tests


workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_TAG || $CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "dev"
      when: always


.base_build:
  image: ${IMAGE}
  stage: Build
  tags:
    - general
  script:
    - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCHORD_ENABLE_TESTS=ON -DBENCHMARK_ENABLE_GTEST_TESTS=OFF -DOVERRIDE_USE_STD=${OVERRIDE_USE_STD:-ON} -DCHORD_BUILD_TOOLS=ON
    - cmake --build build --target ${BUILD_TARGET}
  artifacts:
    paths:
      - build


Build In Matrix:
  extends:
    - .base_build
  rules:
  parallel:
    matrix:
      - IMAGE: [ "192.168.10.15:8000/scorpion/builder:v1.0.0", "192.168.10.15:5000/build-runner:v2.0.1-uhd_4.1.2" ]
        OVERRIDE_USE_STD: [ "ON", "OFF" ]
  variables:
    BUILD_TARGET: all


Test SmokeTests:
  stage: Smoke Tests
  tags:
    - general
  parallel:
    matrix:
      - IMAGE: [ "192.168.10.15:8000/scorpion/builder:v1.0.0", "192.168.10.15:5000/build-runner:v2.0.1-uhd_4.1.2" ]
        OVERRIDE_USE_STD: [ "ON", "OFF" ]
        BUILD_TARGET: smoke_tests
  dependencies:
    - Build In Matrix
  needs:
    - job: Build In Matrix
      artifacts: true
  script:
    - cd build
    - ./src/tests/gtest/smoke_tests


Test GTest:
  stage: Unit Tests
  tags:
    - general
  parallel:
    matrix:
      - IMAGE: [ "192.168.10.15:8000/scorpion/builder:v1.0.0", "192.168.10.15:5000/build-runner:v2.0.1-uhd_4.1.2" ]
        OVERRIDE_USE_STD: [ "ON", "OFF" ]
        BUILD_TARGET: gtest_exec
  dependencies:
    - Build In Matrix
  needs:
    - job: Build In Matrix
      artifacts: true
  script:
    - cd build
    - ./src/tests/gtest/gtest_exec
